<div class="relative">
  <app-breadcrumb
    [title]="'Device Manager'"
    [breadcrumbLinks]="[
      { label: 'Dashboard', url: '/dashboard' },
      { label: 'Device Manager', url: '/device-manager' }
    ]"
  ></app-breadcrumb>
</div>

<div class="flex flex-col p-6 space-y-6 h-full relative">
  <div class="flex justify-between items-center">
    <div class="flex space-x-4">
      <input
        type="text"
        placeholder="Device Name"
        [(ngModel)]="searchTerm"
        class="border px-4 py-2 rounded-lg focus:outline-none"
      />
    </div>
    <div class="flex space-x-4">
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-lg"
        (click)="toggleFilter()"
      >
        Filters
      </button>
      <button class="bg-blue-500 text-white px-4 py-2 rounded-lg">
        <a routerLink="/device-manager/add-device">Create Device</a>
      </button>
      <button class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg">
        CSV
      </button>
    </div>
  </div>

  <app-filter
    *ngIf="isFilterOpen"
    [isOpen]="isFilterOpen"
    (closeModal)="toggleFilter()"
    (applyFilter)="applyFilter($event)"
  ></app-filter>

  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="min-w-full table-auto">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-4 py-5 text-left text-sm font-semibold text-gray-600">
            Device Information
          </th>
          <th class="px-4 py-5 text-left text-sm font-semibold text-gray-600">
            Location Information
          </th>
          <th class="px-4 py-5 text-left text-sm font-semibold text-gray-600">
            Device Properties
          </th>
          <th class="px-4 py-5 text-left text-sm font-semibold text-gray-600">
            Live Status
          </th>
          <th class="px-4 py-5 text-left text-sm font-semibold text-gray-600">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let device of filteredDevices()" class="hover:bg-gray-50">
          <td class="px-4 py-4">
            <strong>{{ device.name }}</strong>
            <p>ID: {{ device.id }}</p>
            <p>Created: {{ device.createdAt }}</p>
          </td>
          <td class="px-4 py-4">
            <p><strong>Network:</strong> {{ device.network }}</p>
            <p><strong>Location:</strong> {{ device.location }}</p>
            <p><strong>Address:</strong> {{ device.address }}</p>
          </td>
          <td class="px-4 py-4">
            <p><strong>Build Version:</strong> {{ device.buildVersion }}</p>
            <p><strong>Platform:</strong> {{ device.platform }}</p>
            <p><strong>Google Link:</strong> {{ device.googleLink }}</p>
          </td>

          <td class="px-4 py-4">
            <div class="flex items-center flex-col justify-center gap-5">
              <div>
                <img
                  *ngIf="device.status === 'ACTIVE'"
                  src="../../../../assets/icons/wifi-on.svg"
                  alt="icon"
                  class="w-5 h-5 mr-2"
                />
                <img
                  *ngIf="device.status === 'INACTIVE'"
                  src="../../../../assets/icons/wifi-off.svg"
                  alt="icon"
                  class="w-5 h-5 mr-2"
                />
                <img
                  *ngIf="device.status === 'UNPAIR'"
                  src="../../../../assets/icons/wifi-off.svg"
                  alt="icon"
                  class="w-5 h-5 mr-2"
                />
                <img
                  *ngIf="device.status === 'PREPARE'"
                  src="../../../../assets/icons/wifi-on.svg"
                  alt="icon"
                  class="w-5 h-5 mr-2"
                />
              </div>
              <div>
                <span
                  class="px-2 py-1 rounded-lg"
                  [ngClass]="{
                    'bg-blue-100 text-blue-800': device.status === 'ACTIVE',
                    'bg-red-100 text-red-800': device.status === 'INACTIVE',
                    'bg-gray-100 text-gray-800': device.status === 'UNPAIR',
                    'bg-yellow-100 text-yellow-800': device.status === 'PREPARE'
                  }"
                >
                  {{ device.status }}
                </span>
              </div>
              <div>
                <button
                  class="px-2 py-1 rounded-lg bg-gray-100 mx-1"
                  (click)="downloadLog(device.id)"
                >
                  USB
                </button>
              </div>
            </div>
          </td>

          <td class="px-4 py-4 flex space-x-2 space-y-2 flex-col">
            <div class="flex items-center justify-center gap-2">
              <button (click)="editDevice(device.id)">
                <img
                  src="../../../../assets/icons/edit.svg"
                  alt="Edit"
                  class="w-5 h-5"
                />
              </button>
              <button (click)="deleteDevice(device.id)">
                <img
                  src="../../../../assets/icons/correct-checklist.svg"
                  alt="Delete"
                  class="w-5 h-5"
                />
              </button>
              <button (click)="downloadLog(device.id)">
                <img
                  src="../../../../assets/icons/refresh.svg"
                  alt="Download"
                  class="w-5 h-5"
                />
              </button>
              <button (click)="downloadLog(device.id)">
                <img
                  src="../../../../assets/icons/trash.svg"
                  alt="Download"
                  class="w-5 h-5"
                />
              </button>

              <button (click)="deleteDevice(device.id)">
                <img
                  src="../../../../assets/icons/system-reboot.svg"
                  alt="Delete"
                  class="w-5 h-5"
                />
              </button>
            </div>
            <div class="flex items-center justify-center gap-2">
              <button (click)="downloadLog(device.id)">
                <img
                  src="../../../../assets/icons/excel-file.svg"
                  alt="Download"
                  class="w-5 h-5"
                />
              </button>
              <button (click)="downloadLog(device.id)">
                <img
                  src="../../../../assets/icons/meter.svg"
                  alt="Download"
                  class="w-5 h-5"
                />
              </button>
              <button (click)="editDevice(device.id)">
                <img
                  src="../../../../assets/icons/hard-drive.svg"
                  alt="Edit"
                  class="w-5 h-5"
                />
              </button>

              <button (click)="downloadLog(device.id)">
                <img
                  src="../../../../assets/icons/rotate.svg"
                  alt="Download"
                  class="w-5 h-5"
                />
              </button>
            </div>
            <div class="flex items-center justify-center gap-2 flex-col">
              <button
                class="text-sm bg-[#505E73] text-white px-3 py-1 rounded-full"
              >
                Download Logs
              </button>
              <div
                class="text-sm px-3 py-1 rounded-full flex gap-2 items-center"
              >
                Auto Start
                <span
                  class="cursor-pointer"
                  (click)="autoStartToggle(device.id)"
                >
                  <img
                    *ngIf="device.autoStart"
                    src="../../../../assets/icons/toggle-on.svg"
                    alt="Auto Start On"
                    class="w-6 h-6"
                  />
                  <img
                    *ngIf="!device.autoStart"
                    src="../../../../assets/icons/toggle-off.svg"
                    alt="Auto Start Off"
                    class="w-6 h-6"
                  />
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
