<div
  *ngIf="visible"
  class="toast flex items-center justify-between w-full h-16 max-w-xs px-4 text-gray-500 bg-white rounded-lg shadow-lg absolute top-2 left-1/2 transform -translate-x-1/2"
  role="alert"
>
  <div class="ml-3 text-sm font-normal">
    <h4
      class="font-semibold text-1xl"
      [ngClass]="{
        'text-red-500 border-b-red-400': statusCode == 0,
        'text-green-800': statusCode == 1
      }"
    >
      {{ message }}
    </h4>
    <p>{{ subMessage }}</p>
  </div>
  <button type="button" (click)="hideToast()" aria-label="Close">
    <span class="text-primary-1000">&#10005;</span>
  </button>
</div>
