<app-breadcrumb
  [title]="'Add Layout'"
  [breadcrumbLinks]="[
    { label: 'Dashboard', url: '/dashboard' },
    { label: 'Setup', url: '/setup/layout' },
    { label: 'Add Layout', url: '/add-layout' }
  ]"
></app-breadcrumb>

<div class="container mx-auto p-6 space-y-6">
  <form [formGroup]="layoutForm" (ngSubmit)="onSubmit()">
    <!-- First Row with Layout Name, Location, Country, etc. -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Layout Name -->
      <div>
        <label for="layoutName" class="block text-sm font-medium text-gray-900">
          Layout Name <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="layoutName"
          formControlName="layoutName"
          class="form-input mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Layout Name"
        />
      </div>

      <!-- Location -->
      <div>
        <label for="location" class="block text-sm font-medium text-gray-900">
          Location <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="location"
          formControlName="location"
          class="form-input mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Location"
        />
      </div>

      <!-- Country -->
      <div>
        <label for="country" class="block text-sm font-medium text-gray-900">
          Country <span class="text-red-500">*</span>
        </label>
        <select
          id="country"
          formControlName="country_id"
          class="mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          required
        >
          <option value="">Select Country</option>
          <option
            *ngFor="let country of countryList"
            [value]="country.country_id"
          >
            {{ country.country_name }}
          </option>
        </select>
      </div>

      <!-- Region -->
      <div>
        <label for="region" class="block text-sm font-medium text-gray-900">
          Region <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="region"
          formControlName="region"
          class="form-input mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Region"
        />
      </div>

      <!-- Zone -->
      <div>
        <label for="zone" class="block text-sm font-medium text-gray-900">
          Zone <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="zone"
          formControlName="zone"
          class="form-input mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Zone"
        />
      </div>

      <!-- Sub Zone -->
      <div>
        <label for="subZone" class="block text-sm font-medium text-gray-900">
          Sub Zone <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="subZone"
          formControlName="subZone"
          class="form-input mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Sub Zone"
        />
      </div>

      <!-- Time Zone -->
      <div>
        <label for="timeZone" class="block text-sm font-medium text-gray-900">
          Time Zone <span class="text-red-500">*</span>
        </label>
        <select
          id="timeZone"
          formControlName="timezone_id"
          class="mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          required
        >
          <option value="">Select Timezone</option>
          <option
            *ngFor="let timezone of timeZoneList"
            [value]="timezone.timezone_id"
          >
            {{ timezone.time_zone }}
          </option>
        </select>
      </div>
    </div>

    <!-- Layout Scale and Status -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
      <div>
        <label
          for="layoutScale"
          class="block text-sm font-medium text-gray-900"
        >
          Layout Scale
        </label>
        <select
          id="layoutScale"
          formControlName="layoutScale"
          class="form-select mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
        >
          <option value="1.5">1.5</option>
        </select>
      </div>

      <!-- Status -->
      <div class="flex items-center mt-6">
        <input
          type="checkbox"
          id="status"
          formControlName="status"
          class="form-checkbox w-5 h-5 text-blue-600"
        />
        <label for="status" class="ml-2 text-gray-700">Status</label>
      </div>
    </div>

    <!-- Description -->
    <div class="mt-4">
      <label for="description" class="block text-sm font-medium text-gray-900">
        Description
      </label>
      <textarea
        id="description"
        formControlName="description"
        rows="2"
        class="form-textarea mt-1 block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Enter Description"
      ></textarea>
    </div>

    <!-- Submit and Cancel Buttons -->
    <div class="flex justify-end space-x-4 mt-8">
      <button
        type="button"
        class="bg-gray-400 text-white px-4 py-2 rounded-lg hover:bg-gray-500"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
      >
        Submit
      </button>
    </div>
  </form>
</div>
